# One Weird Trick to Solving Looping Problems
> Blow off the loop

In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

### Exercise
How many pets does each student have?

In [2]:
# Step 0 = blow off the loop
# Step 1 = create a variable to hold the first item from the list
student = students[0]
student

{'id': '100001',
 'student': 'Ada Lovelace',
 'coffee_preference': 'light',
 'course': 'web development',
 'grades': [70, 91, 82, 71],
 'pets': [{'species': 'horse', 'age': 8}]}

In [3]:
# Reducing cognitive overhead == fancy term for making things easier and keeping less moving pieces in your head
# Now that we don't have the loop, we go to solve the original problem for only our variable

In [4]:
# How do we determine how many pets Ada Lovelace has?
type(student)

dict

In [5]:
student["pets"]

[{'species': 'horse', 'age': 8}]

In [6]:
type(student["pets"])

list

In [7]:
len(student["pets"])

1

In [8]:
number_of_pets = len(student["pets"])
number_of_pets

1

In [9]:
print(f"{student['student']} has {number_of_pets} pet(s)")

Ada Lovelace has 1 pet(s)

In [10]:
# Let's put this all in one cell
number_of_pets = len(student["pets"])
print(f"{student['student']} has {number_of_pets} pet(s)")

Ada Lovelace has 1 pet(s)

In [11]:
for student in students:
    number_of_pets = len(student["pets"])
    print(f"{student['student']} has {number_of_pets} pet(s)")

Ada Lovelace has 1 pet(s)
Thomas Bayes has 0 pet(s)
Marie Curie has 1 pet(s)
Grace Hopper has 2 pet(s)
Alan Turing has 3 pet(s)
Rosalind Franklin has 0 pet(s)
Elizabeth Blackwell has 1 pet(s)
Rene Descartes has 2 pet(s)
Ahmed Zewail has 2 pet(s)
Chien-Shiung Wu has 1 pet(s)
William Sanford Nye has 2 pet(s)
Carl Sagan has 1 pet(s)
Jane Goodall has 1 pet(s)
Richard Feynman has 1 pet(s)

In [12]:
for student in students:
    number_of_pets = len(student["pets"])
    
    if number_of_pets == 0:
        print(f"{student['student']} has no pets at all.")
    
    if number_of_pets == 1:
        print(f"{student['student']} has only {number_of_pets} pet")
    
    if number_of_pets > 1:
        print(f"{student['student']} has only {number_of_pets} pets")

Ada Lovelace has only 1 pet
Thomas Bayes has no pets at all.
Marie Curie has only 1 pet
Grace Hopper has only 2 pets
Alan Turing has only 3 pets
Rosalind Franklin has no pets at all.
Elizabeth Blackwell has only 1 pet
Rene Descartes has only 2 pets
Ahmed Zewail has only 2 pets
Chien-Shiung Wu has only 1 pet
William Sanford Nye has only 2 pets
Carl Sagan has only 1 pet
Jane Goodall has only 1 pet
Richard Feynman has only 1 pet

In [13]:
number = 5
number

5

In [14]:
numbers = [3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 7, 8, 9, 10]
numbers

[3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 7, 8, 9, 10]

In [15]:
for number in numbers:
    print(number)

3
3
3
4
4
4
4
5
5
5
5
5
6
7
8
9
10

In [16]:
number

10

In [17]:
# First time through the for loop
number = numbers[0]
# Second time through the loop
number = numbers[1]
# etc...